$primary-color: rgb(0, 102, 255);
$primary-code: 0, 102, 255;
$gray-color: rgb(238, 238, 238);
$gray-code: 238, 238, 238;
$text-color: rgb(17, 17, 17);
$text-code: 17, 17, 17;
$bg-color: rgb(255, 255, 255);
$bg-code: 255, 255, 255;